<a href="https://colab.research.google.com/github/mansipatil18/ML/blob/main/statistic%26data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
titanic_df = pd.read_csv('titanic.csv')

In [9]:
print(titanic_df.info())
print(titanic_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   FamilySize   891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None
   PassengerId  Survived  FamilySize  \
0            1         0           3
1            2         1           1
2            3         1           3
3            4         1           1
4            5         0           3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [10]:
# Check for missing values
print(titanic_df.isnull().sum())

# Fill missing 'Age' with median value
titanic_df['Age'].fillna(titanic_df['Age'].median(), inplace=True)

# Fill missing 'Embarked' with the most common value
titanic_df['Embarked'].fillna(titanic_df['Embarked'].mode()[0], inplace=True)

# Drop the 'Cabin' column due to too many missing values
titanic_df.drop(columns=['Cabin'], inplace=True)

PassengerId      0
Survived         0
FamilySize       0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [11]:
# Create a new feature 'FamilySize' from 'SibSp' and 'Parch'
titanic_df['FamilySize'] = titanic_df['SibSp'] + titanic_df['Parch'] + 1

# Create a new feature 'IsAlone' (1 if alone, 0 otherwise)
titanic_df['IsAlone'] = (titanic_df['FamilySize'] == 1).astype(int)

In [12]:
# Encode 'Sex' as binary
titanic_df['Sex'] = titanic_df['Sex'].map({'male': 0, 'female': 1})

# One-hot encode 'Embarked'
titanic_df = pd.get_dummies(titanic_df, columns=['Embarked'], drop_first=True)

In [13]:
from sklearn.preprocessing import StandardScaler

# Normalize 'Age' and 'Fare'
scaler = StandardScaler()
titanic_df[['Age', 'Fare']] = scaler.fit_transform(titanic_df[['Age', 'Fare']])

In [14]:
# Drop columns like 'Name', 'Ticket', and 'PassengerId'
titanic_df.drop(columns=['Name', 'Ticket', 'PassengerId'], inplace=True)

In [15]:
print(titanic_df.info())
print(titanic_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Survived    891 non-null    int64
 1   FamilySize  891 non-null    int64
 2   Sex         891 non-null    int64
 3   Age         891 non-null    float64
 4   SibSp       891 non-null    int64
 5   Parch       891 non-null    int64
 6   Fare        891 non-null    float64
 7   IsAlone     891 non-null    int64
 8   Embarked_Q  891 non-null    bool
 9   Embarked_S  891 non-null    bool
dtypes: bool(2), float64(2), int64(6)
memory usage: 57.6 KB
None
   Survived  FamilySize  Sex       Age  SibSp  Parch      Fare  IsAlone  \
0         0           2    0 -0.565736      1      0 -0.502445        0
1         1           2    1  0.663861      1      0  0.786845        0
2         1           1    1 -0.258337      0      0 -0.488854        1
3         1           2    1  0.433312      1      0  0.420730        0
4         0           1    0  0.433312      0      0 -0.486337        1

   Embarked_Q  Embarked_S
0       False        True
1       False       False
2       False        True
3       False        True
4       False        True